body {
    padding: 0;
    margin: 0;
}

.main {
    max-width: 1400px;
    margin: 0 auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 125px;
    height: 34px;
    margin-bottom: 20px;
    margin-right: -87px;
}

.wrapper_header {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    text-align: center;
    max-width: 1400px;
    margin: 0 auto;
}

h1 {
    margin-top: 20px;
}

.logo_and_button {
    margin-right: 137px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6c7ae0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider_span {
    font-size: 27px;
    float: right;
    margin-top: 2px;
    margin-right: 12px;
    color: white;
    transition: 0.7s;
}

.slider_span_play {
    font-size: 27px;
    float: right;
    margin-top: 2px;
    margin-right: 34px;
    color: white;
    transition: 0.7s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #c364db;
}

input:focus+.slider {
    box-shadow: 0 0 1px #c364db;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(90px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 60px;
    margin: 0 auto;
}

.scene {
    width: 260px;
    height: 270px;
    perspective: 600px;
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.box_of_cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 20px;
    margin: 0 auto;
}

.box_of_cards__card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    margin: 0px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 260px;
    height: 270px;
    backface-visibility: hidden;
    transition: 1s;
}

.box_of_cards__card:hover {
    transition: 1s;
    transform: scale(1.1);
}

.box_of_cards__card--back {
    transform: rotateY(180deg);
}

.box_of_cards__card__image {
    width: 100%;
    height: 50%;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.translate {
    width: 50px;
    height: 50px;
}

.card_image__for_game {
    width: 100%;
    height: 100%;
    transition: 1s;
}

.card_image__for_game__disabled {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    transition: none;
}

.button__start_game {
    padding: 5px;
    margin: 20px;
}

.negative .fa-star {
    color: rgb(241, 124, 89);
    margin-left: 5px;
    margin-right: 5px;
}

.pozitive .fa-star {
    color: rgb(226, 241, 89);
    margin-left: 5px;
    margin-right: 5px;
}

.pozitive,
.negative {
    margin: 10px;
}

.the__end {
    margin: 50px;
}

.table_statistics {
    display: grid;
    border-collapse: collapse;
    grid-template-columns: minmax(150px, 1fr) minmax(150px, 1.67fr) minmax(150px, 1.67fr) minmax(150px, 1.67fr) minmax(150px, 3.33fr) minmax(150px, 1.67fr);
}

thead,
tbody,
tr {
    display: contents;
}

th,
td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    position: sticky;
    top: 0;
    background: #6c7ae0;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
}

th:last-child {
    border: 0;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #808080;
}

tr:nth-child(even) td {
    background: #f8f6ff;
}

span {
    cursor: pointer;
}